$primaryColor: #14617b;
$secondaryColor: #cc5803;
$fontColor: #333;

$defaultFont: 'Roboto', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$menuColor: #2b2b82;
$gutter: 16px;

